<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../../../styles/style.css"> -->
    <!-- <link rel="stylesheet" href="./styles/reset.css"> -->
    <link rel="stylesheet" href="../../../styles/base.css">
    <link rel="stylesheet" href="../../../styles/modules.css">
    <link rel="stylesheet" href="../../../styles/layout.css">
</head>
<body>
    <header id="header22">Hello World</header>
    <main>
        <section>
            <ol>
                <%booknew2.forEach(book =>{%>
                <li>
                    <p class="img"><img src=<%= book.image_url %>></p>
                    <p class="title"><%= book.title %></p>
                    <p class="authors"><%= book.authors%></p>
                    <p class="description"><%= book.description%></p>
                </li>
                <% }) %>
            </ol>
        </section>
    </main>
</body>
</html>
