<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../styles/base.css">
  <link rel="stylesheet" href="../../../styles/modules.css">
  <link rel="stylesheet" href="../../../styles/layout.css">
  <title>Form</title>
</head>

<body>
  <p id="p1">Best Book!</p>
  <p id="p2">Search by Title or Author</p>
  <form id="create-form" action="/searches/show" method="POST">
    <input type="text" name="keyword" placeholder="Enter a title or author" required>
    <fieldset>
      <label for="title">
        <span>Title</span>
        <input type="radio" id="title" name="search" value="title" required>
      </label>
    </fieldset>
    <fieldset>
      <label for="author">
        <span>Author</span>
        <input type="radio" id="author" name="search" value="author" required>
      </label>
    </fieldset>
    <button class="lng-btn" type="submit">Search the Google Books API</button>
  </form>
</body>

</html>